[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
psycopg2-binary = "*"
flask = "*"
flask-sqlalchemy = "*"
jinja2 = "*"
spacy = "3.2"
tweepy = "*"
python-dotenv = "*"
scikit-learn = "*"
gunicorn = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.9"
